body
{
    font-family: 'Lato', sans-serif;
}

img
{
    max-width:100%;
}
.quitar-float
{
    float:none;
    margin-top: 100px;
}

#principal
{
    width: 40%;
    float:none;
    margin:0 auto;
    text-align: center;
    
}

.pacifico
{
    font-family: 'Pacifico', cursive;
}

.grande
{
 font-size: 3em;   
}

.verde
{
    color: #00887c;
}
.espacio-derecha
{
    margin-right: 1em;
}

a
{
    color:#009fff;
}

.no-lista
{
    margin: 0px;
    padding: 0px;
}

.no-lista li
{
   list-style-type: none;
}

.se-gris
{
    background-color:gray;
}

.padding-largo
{
    padding: :5px 10px;
}

inline-block
{
    float:none;
    display: inline-block;
    margin-right: -4px;
}
